$activeColor: rgb(127, 255, 139);


nt-filemanager {
	position: relative;
	background-color: rgba(37, 37, 37, 0.01);
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    min-height: 284px;
    height:100%;
	
	>div.nt-filemanager-header {
		div.add-area {
			display:flex;
			clear:both;
			background-color:#F9F9F9;
			height:70px;
			.add-area-section {
				display: block;
			    border: none;
			    background-color: rgb(255, 255, 255);

			    margin: 0 0 0 0;
			    padding: 10px 0;
			    clear: both;
			    font-family: Arial;
			    text-align: center;
			    
			    flex: 0 8 100%;
			    border-right: 1px #FFFFFF solid;
			    border-left: 1px rgba(128, 128, 128, 0.1) solid;
				
				> figure {
					margin:0 auto;
					display:inline-block;
					text-align: center;

					>div {
						width:50px;
						height:50px;
						margin: 0;
					    display: inline-block;
					    vertical-align: top;
						>svg {
							width:100%;
							height:100%;
							fill:rgb(64, 55, 55);
							transition:fill 0.25s ease;
						}
					}

					>figcaption {
						font-size:11px;
						color:rgb(64, 55, 55);
						transition:color 0.25s ease;
						display: inline-block;
					    height: 50px;
					    vertical-align: middle;
					    line-height: 50px;
					    font-size: 13px;

					    b {
					    	color:rgb(6, 52, 76);;
					    }
	
						>span {
							>i {
						    	padding-right:10px;
						    	font-style:normal;
						    }

						    >button {
						    	margin-right:10px;
						    	border-radius: 7px;
							    color: #5D4242;
							    font-weight: bold;
							    background-color: rgb(255, 255, 255);
							    border: 1px rgb(191, 197, 195) solid;
						    	&:focus {
						    		
						    		border-color:1px rgb(24, 255, 185) solid;
						    	}
						    }
						}
					    
					}
				}

				&.add-area-section-box {
					width:70px;
					flex:0 0 70px;
					>figure {
						position: relative;
		    			transform: translateY(-5px);
						>div {
							width:35px;
							height:35px;
						}
						>figcaption {
							line-height: normal;
							position: absolute;
						    top: 100%;
						    left: 50%;
						    width: 100%;
						    transform: translateX(-50%) translateY(-5px);
						    text-align: center;
						    width: 140%;
						    font-size: 11px;
						}

						&.are-box-standalone {
							transform:translateY(8px);
						}
					}
				}

				&.add-area-section-wide {
					flex:0 1 100%;
				}

				&:hover {
					background-color:#FDFAF4;

					> figure {
						>div {
							>svg {
								fill:#00001E;
							}
						}
						>figcaption {
							color:#58534B;
						}
					}
				}

				&.pointable {
					cursor:pointer;
				}

				&.active {
					background-color:#FFD97F;

					> figure {
						>div {
							>svg {
								fill:#2D2D2D;
							}
						}
						>figcaption {
							color:#58534B;
						}
					}
				}

				&.add-area-section-buttoned {
					 border-radius: 8px;
				}


				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}

	>div.nt-filemanager-body {
		position: relative;
	    flex: 1 1 100%;
	    overflow: hidden;
	    overflow-y: scroll;
	    background-color: rgb(45, 45, 45);

	    ul.filesArea {
			overflow: hidden;
			display:table;
			list-style: none;
			padding: 0px;
			margin:0 0 5px 0;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			background: none;
			clear:both;
			padding:12px;
			background-color:rgb(45, 45, 45);
			position:absolute;
		    display: flex;
		    flex-wrap: wrap;
		    align-items: flex-start;
    		justify-content: flex-start;

			li {
				padding: 12px;
				height: 130px;
				float: left;
				margin: 1px;
				position: relative;
				box-sizing: content-box;
				

				&.file {
					
					transition:background 0.25s ease;
					
				}

				> div.thumb {
					width:110px;
					height:110px;
					text-align:center;
					margin:0 auto;
					cursor:pointer;
					position: relative;

					>.nt-filemanager-overlay {
						position: absolute;
						top:0;
						left:0;
						width:100%;
						height:100%;
						display:none;
						>div {
							background-color:transparent;
							transform-origin:50% 50%;
							transition:transform 0.25s ease, opacity 0.3s ease;
							opacity:0;
							margin: 0 auto;
						    border-radius: 20px;
						    border: 3px rgb(61, 250, 253) solid;
						    cursor: pointer;
						    display: block;
						    position: absolute;
						    top: 50%;
						    left: 50%;
						    transform: translateX(-50%) translateY(-50%) scale(0.85);
						    width: 32px;
						    height: 32px;
						    cursor:pointer;
							
							>symbol {
								cursor:pointer;
								>div {
									width: 120%;
									height: 120%;
									cursor: pointer;
									margin-left: -10%;
									margin-top: -10%;
								    >svg {
								    	width: 100%;
									    height: 100%;
									    fill: transparent;
									    cursor:pointer;
								    }
							    }
							}
						}
					}
				}

				&.folder {
					>div.thumb {
						>div {
							width: 72%;
						    height: 72%;
						    position: absolute;
						    top: 50%;
						    left: 50%;
						    -webkit-transform: translateX(-50%) translateY(-50%);
						    transform: translateX(-50%) translateY(-50%);
						    border-radius: 4px;
						    border: 1px rgba(107, 107, 99, 0.23) solid;
						    background-color: #232323;
						    box-shadow: -1px 4px 24px 0px rgba(0,0,0,0.66);
						    
						    padding: 10px;
    						box-sizing: border-box;
    						text-align:left;

    						display: flex;
						    flex-wrap: nowrap;
						    justify-content: flex-start;

    						>i {
    							display: inline-block;
							    vertical-align: top;
							    width: 10px;
							    height: 10px;
							    background-color: white;
							    border-radius: 2px;
							    margin: 0 5px 0 0;

							    &:nth-child(1n) {
							    	width: 12px;
    								height: 8px;
    								background-color: aqua;
							    }

							    &:nth-child(2n) {
							    	width: 8px;
    								height: 12px;
    								background-color: violet;
							    }

							    &:nth-child(3n) {
							    	width: 12px;
    								height: 12px;
    								background-color: yellowgreen;
							    }
    						}
						}
					}
				}

				&.image {
					div.thumb {
					background-color: transparent;
						> img {
							display:none;
							-webkit-box-shadow: -1px 4px 24px 0px rgba(0,0,0,0.66);
							-moz-box-shadow: -1px 4px 24px 0px rgba(0,0,0,0.66);
							box-shadow: -1px 4px 24px 0px rgba(0,0,0,0.66);
							&:after {
								content: "";
								background-color:blue;
								display:block;
							}
						}
					}
				}

				div.subscribe {
					font-size: 11px;
					font-weight: normal;
					margin: 10px auto 0 auto;
					height:20px;
					line-height: 14px;
					height: 14px;
					-o-text-overflow: ellipsis;
					text-overflow: ellipsis;
					overflow: hidden;
					width: 120px;
					text-align:center;
					font-weight: 100;
					font-family: Arial;
					color:rgb(230, 226, 226);
				}

				&.selected {
					background-color: rgba(93, 40, 19, 0.22);
				    border: 1px rgba(153, 128, 82, 0.13) solid;
				    margin: 0;

					div.subscribe {
						color:rgb(255, 217, 127);
						font-weight: 100;
					}

					&.image {
						> div.thumb {
							/*box-shadow:         1px 4px 17px 4px rgba(0, 0, 0, 0.39);*/
							>img {
								background-color:transparent;
								box-shadow: 0px 0px 0px 1px rgba(255, 217, 127, 0.49);
							}
						}
					}

					>div.thumb {
						>.nt-filemanager-overlay {
							display:block;
							>div {
								opacity:1;
							}
						}
					}

					&.folder {
						>div.thumb {
							>div {
								border:1px rgba(255, 217, 127, 0.49) solid;
								>i {
									background-color:rgba(255, 210, 102, 0.91);
								}
							}
						}
					}

					&:hover {
						div.subscribe {
							color:#FFD97F;
							font-weight: 100;
						}
					}
				}

				&:hover {
					.acceptit {
						opacity:1;
						transform: translateX(-50%) scale(1);
					}

					div.subscribe {
						color:rgb(218, 218, 218);
					}
				}
			}

			&.danger {
				>li {
					&.selected {
						&.image {
							> div.thumb {
								/*box-shadow:         1px 4px 17px 4px rgba(0, 0, 0, 0.39);*/
								>img {
									box-shadow: 0px 0px 0px 1px rgb(255, 127, 127);
								}
							}
						}

						&.folder {
							>div.thumb {
								>div {
									border:1px rgb(255, 127, 127) solid;
									>i {
										background-color:rgb(255, 127, 127);
									}
								}
							}
						}
					}
				}
			}
		}
	}

    
}


nt-filemanager div.location {
	display: table;
    overflow: hidden;
    height: auto;
    width: 100%;
    position: relative;
    background-color: #F7F7F7;
    padding: 0px;
    border-top:1px #DDD9D9 solid;

    >div {
    	height:auto;
    	>figure {
    		display: inline-block;
		    vertical-align: top;
		    padding: 2px 12px;
		    margin: 0;
		    position: relative;
		    border-bottom: 1px #D8D3D3 solid;
    		
    		>figcaption {
				position: absolute;
			    left: 18px;
			    top: 3px;
			    font-family: Arial;
			    font-size: 13px;
			    line-height: 10px;
			    margin: 5px 0;
			    cursor: pointer;
				text-shadow:0 1px 1px rgba(255,255,255,1);
				&:first-child {
	    			position:static;
					
					visibility:hidden;

	    		}

	    		&:hover {
					border-bottom: 2px hsl(202, 100%, 55%) dotted;
	    		}
    		}

    		>i {
			    width: 16px;
			    height: 16px;
			    -webkit-transform: rotateZ(45deg);
			    transform: translateX(0px) rotateZ(45deg);
			    background-color: #F9F9F9;
			    display: block;
			    position: absolute;
			    right: -8px;
			    top: 4px;
			    border-top: 1px #D8D3D3 solid;
			    border-right: 1px #BBB8B8 solid;
    		}

    		&:first-child {
    			padding-left:4px;
				background-color:#C0C1AE;
				>figcaption {
					left:11px;
				}
				>i {
					background-color:#C0C1AE;
				}
    		}

    		&.current {
    			>figcaption {
    				
    			}
    		}

    		&:hover {
				>figcaption {
					
				}
    		}

    		&.nt-filemanager-location-addIcon {
    			width: 20px;
			    padding: 0;
			    height: 20px;
			    margin-left: 12px;
			    margin-top: 3px;
			    border-bottom:0px;
    			>div {
    				width: 2px;
				    height: 10px;
				    background-color: black;
				    position: absolute;
				    top: 5px;
				    left: 9px;
				    transform-origin:50% 50%;
				    &:first-child {
						transform:rotateZ(90deg);
				    }
    			}
    			>figcaption {
    				opacity:0;
    				width: auto;
				    color: gray;
				    font-size: 10px;
				    line-height: 12px;
				    left: 100%;
				    white-space: nowrap;
				    transition:opacity 0.25s ease;
				    margin:2px 0;
    			}
    			&:hover {
    				cursor:pointer;
					>div {
						background-color: #545454;
					}
					>figcaption {
						opacity:1;
						&:hover {
							border:0;
						}
					}
    			}
    		}
    	}
    }
}

nt-filemanager div.controls {
	padding: 1px 0;
	margin-bottom: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float:left;
}

nt-filemanager div.controls ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

nt-filemanager div.controls ul:after {
	content: "";
	display:block;
	width:100%;
	clear:both;
}

nt-filemanager div.controls ul li {
	float:left;
	background-color:rgba(37, 37, 37, 0.01);
	margin:0 3px 0 0;
}

nt-filemanager div.controls ul li.selected {
	background-color:#8FA0A5;
}

nt-filemanager-modal {
	background-color:rgba(5,5,5,1);
	border-radius: 12px;
	padding:12px;
	-webkit-box-shadow: 0px 10px 24px -5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 10px 24px -5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 10px 24px -5px rgba(50, 50, 50, 0.75);
	width:600px;
}

nt-filemanager-overlay {
	background-color:rgba(0,0,0,0.6);
}

nt-filemanager-modal > div {
	padding:10px !important;
}

nt-filemanager-modal > div img.preview {
	width:580px;
}

nt-filemanager-modal > div > div {
	position:relative;
}

nt-filemanager-modal span.close {
	position:absolute;
	top:-30px;
	right:-30px;
}

/* Metro icons */
a.elbora-vcl-themes-metro-icon {
	background-position:center center;
	background-repeat: no-repeat;
	background-size:60%;
}

a.elbora-vcl-themes-metro-icon > img.glow { display:none; }
a.elbora-vcl-themes-metro-icon > img.default { display:block; }

.elbora-vcl-themes-metro-icon32x32 {
	text-decoration:none;
	width:32px;
	height:32px;
	display:block;
}

.elbora-vcl-themes-metro-icon32x32-add {
	background-image:url(images/metro-icon-add-dark.png);
}

.elbora-vcl-themes-metro-icon32x32-addfolder {
	background-image:url(images/metro-icon-newfolder-dark.png);
}

.elbora-vcl-themes-metro-icon32x32-list {
	background-image:url(images/metro-icon-list-dark.png);
}

.elbora-vcl-themes-metro-icon32x32-delete {
	background-image:url(images/metro-icon-delete-dark.png);
}

.elbora-vcl-themes-metro-icon32x32-use {
	background-image:url(images/metro-icon-use-dark.png);
}

.elbora-vcl-themes-bold-icon32x32-close {
	background-image:url(images/bold-icon-close-dark.png);
	transition:transform 0.25s ease;
	transform:scale(0.7);
}
.elbora-vcl-themes-bold-icon32x32-close:hover {
	transform:scale(1);
}

.elbora-vcl-themes-metro-icon-filetype {
	width:110px;
	height:110px;
	display:inline-block;
	background-position:center center;
	background-repeat: no-repeat;
}

.elbora-vcl-themes-metro-icon-filetype-folder {
	background-image:url(images/metro-icon-folder-dark.png);
}